:root {
    --border-color: #999;
    --text-color: #fff;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    box-shadow: 0 0 40px 25px gray;
}
#display {
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 25px;
    border: 3px solid var(--border-color);
}
.buttons {
    display: grid;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button {
    border: 0.5px solid var(--border-color); 
    line-height: 70px;
    text-align: center;
    font-size: 25px;  
    cursor: pointer;
}
#equal {
    background-color: #00f;
    color: var(--text-color);
}
.button:hover {
    background-color: darkslategray;
    color: var(--text-color);
    transition: 0.5s;
}